@charset "UTF-8";
 
body,
html,
main{
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    position: relative;
    color: white;
}

body{
    background-color: antiquewhite;
}

main#principal{
    background-color: black;
}

h1 {
    text-align: center;
    margin-bottom: 100px;
}

h2{
    margin-bottom: 10px;
}


img {
    width: 300px;
    height: 300px;
    border: 0.5px solid rgba(255, 255, 255, 0.567);
}

progress{
    height: 6px;
    width: 0;

}

main#principal{
    width: 400px;
    height: 75%;
    box-shadow: 2px 8px 10px rgba(0, 0, 0, 0.439);
    border-radius: 12px;
}

.descricao{
    width: 300px;
}

.duracao{
    width: 300px;
    margin-top: 25px;
}

.barra{
    width: 300px;
    height: 6px;
    border: 1px solid white;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.tempo{
    display: flex;
    width: 300px;
    justify-content: space-between;
}

.ponto{
    width: 20px;
    height: 20px;
    background-color: white;
    border-radius: 50%;
    margin-left: -10px;
}

.player{
    width: 400px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 15px;
}

.botao-play, .botao-pause{
    font-size: 50px;
    cursor: pointer;
}

.setas{
    font-size: 40px;
    cursor: pointer;
}

.botao-pause{
    display: none;
    cursor: pointer;
}

#mode_icon{
    border: 0.5px solid rgba(0, 0, 0, 0.875);
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.515);
    padding: 5px;
    border-radius: 50%;
    position: absolute;
    top: 5%;
    right: 12%;
    cursor: pointer;
}

